@media only screen and (min-width: 1024px){
    .navbar img {
        display: none;
    }

    .nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-nav .nav-link {
        font-size: 2.2rem;
        color: #d7e2f2;
        text-transform: capitalize;
        transition: all 1s;
    }
    
    .nav-item a:hover {
        color: #ffffff
    }
    
    .hero-banner {
        padding-top: 70px;
        padding-bottom: 250px;
    }

    .btn-banner {
        margin-bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .btn-banner:first-child {
        margin-left: 0;
    }

    .btn-banner:last-child {
        margin-right: 0;
    }

    .btn-signUp {
        display: inline-block;
        color: #ffffff;
        border: solid #bacee9;
    }

    .menu-signUp a:hover {
        color: #ffffff;
        border: solid #bacee9;
    }

    .next h3 {
        margin-left: 470px;
    }

    .services img {
        margin-right: 500px;
    }

    .options h4 {
        padding-left: 60px;
        padding-right: 60px;
        min-height: 144px;
    }

    .options p {
        padding-top: 10px;
    }

    .footer-list{
        text-align: center;
        padding-top: 15px;
    }

    .footer-list li {
        padding: 0 20px;
        display: inline-block;
    }
}